USE [master]
GO
/****** Object:  Database [FloraGuardDB]    Script Date: 9.05.2025 13:24:17 ******/
CREATE DATABASE [FloraGuardDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FloraGuardDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\FloraGuardDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FloraGuardDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\FloraGuardDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FloraGuardDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FloraGuardDB]
GO
/****** Object:  Table [dbo].[Ayarlar]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ayarlar](
	[AyarID] [int] IDENTITY(1,1) NOT NULL,
	[AyarAdi] [nvarchar](50) NOT NULL,
	[AyarDegeri] [nvarchar](max) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[GuncellemeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AyarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bildirimler]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bildirimler](
	[BildirimID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[TespitID] [int] NULL,
	[BildirimTipi] [nvarchar](50) NOT NULL,
	[Baslik] [nvarchar](100) NOT NULL,
	[Icerik] [nvarchar](max) NOT NULL,
	[GonderimZamani] [datetime] NULL,
	[Okundu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BildirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitki]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitki](
	[BitkiID] [int] IDENTITY(1,1) NOT NULL,
	[Tur] [nvarchar](50) NOT NULL,
	[Cesit] [nvarchar](50) NULL,
	[EkimTarihi] [datetime] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[SulamaEsikDegeri] [int] NULL,
	[OptimumSicaklik] [float] NULL,
	[OptimumNem] [float] NULL,
	[EklemeTarihi] [datetime] NULL,
	[GuncellemeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BitkiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HastalikTespitleri]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HastalikTespitleri](
	[TespitID] [int] IDENTITY(1,1) NOT NULL,
	[BitkiID] [int] NULL,
	[HastalikTipID] [int] NULL,
	[TespitZamani] [datetime] NULL,
	[GuvenOrani] [float] NULL,
	[GorselYolu] [nvarchar](255) NULL,
	[Notlar] [nvarchar](max) NULL,
	[BildirimGonderildi] [bit] NULL,
	[MudahaleEdildi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TespitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HastalikTipleri]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HastalikTipleri](
	[HastalikTipID] [int] IDENTITY(1,1) NOT NULL,
	[HastalikAdi] [nvarchar](100) NOT NULL,
	[Belirti] [nvarchar](max) NULL,
	[Tedavi] [nvarchar](max) NULL,
	[IlacTuru] [nvarchar](100) NULL,
	[IlacDozaji] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[EklemeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HastalikTipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[BildirimAktif] [bit] NULL,
	[EklenmeTarihi] [datetime] NULL,
	[KullaniciTipi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mudahaleler]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mudahaleler](
	[MudahaleID] [int] IDENTITY(1,1) NOT NULL,
	[BitkiID] [int] NULL,
	[TespitID] [int] NULL,
	[MudahaleTipi] [nvarchar](50) NOT NULL,
	[MudahaleZamani] [datetime] NULL,
	[OtomatikMi] [bit] NULL,
	[Miktar] [float] NULL,
	[Notlar] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MudahaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorVerileri]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorVerileri](
	[SensorVeriID] [int] IDENTITY(1,1) NOT NULL,
	[BitkiID] [int] NULL,
	[ToprakNemi] [float] NULL,
	[OrtamSicakligi] [float] NULL,
	[OrtamNemi] [float] NULL,
	[IsikSeviyesi] [float] NULL,
	[OlcumZamani] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SensorVeriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SistemKayitlari]    Script Date: 9.05.2025 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SistemKayitlari](
	[KayitID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTipi] [nvarchar](50) NOT NULL,
	[IslemZamani] [datetime] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[KullaniciID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KayitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ayarlar] ADD  CONSTRAINT [DF_Ayarlar_GuncellemeTarihi]  DEFAULT (getdate()) FOR [GuncellemeTarihi]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  CONSTRAINT [DF_Bildirimler_GonderimZamani]  DEFAULT (getdate()) FOR [GonderimZamani]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  CONSTRAINT [DF_Bildirimler_Okundu]  DEFAULT ((0)) FOR [Okundu]
GO
ALTER TABLE [dbo].[Bitki] ADD  CONSTRAINT [DF_Bitki_EklemeTarihi]  DEFAULT (getdate()) FOR [EklemeTarihi]
GO
ALTER TABLE [dbo].[Bitki] ADD  CONSTRAINT [DF_Bitki_GuncellemeTarihi]  DEFAULT (getdate()) FOR [GuncellemeTarihi]
GO
ALTER TABLE [dbo].[HastalikTespitleri] ADD  CONSTRAINT [DF_Tespit_TespitZamani]  DEFAULT (getdate()) FOR [TespitZamani]
GO
ALTER TABLE [dbo].[HastalikTespitleri] ADD  CONSTRAINT [DF_Tespit_BildirimGonderildi]  DEFAULT ((0)) FOR [BildirimGonderildi]
GO
ALTER TABLE [dbo].[HastalikTespitleri] ADD  CONSTRAINT [DF_Tespit_MudahaleEdildi]  DEFAULT ((0)) FOR [MudahaleEdildi]
GO
ALTER TABLE [dbo].[HastalikTipleri] ADD  CONSTRAINT [DF_HastalikTipleri_EklemeTarihi]  DEFAULT (getdate()) FOR [EklemeTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_BildirimAktif]  DEFAULT ((1)) FOR [BildirimAktif]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_EklenmeTarihi]  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Mudahaleler] ADD  CONSTRAINT [DF_Mudahale_MudahaleZamani]  DEFAULT (getdate()) FOR [MudahaleZamani]
GO
ALTER TABLE [dbo].[Mudahaleler] ADD  CONSTRAINT [DF_Mudahale_OtomatikMi]  DEFAULT ((1)) FOR [OtomatikMi]
GO
ALTER TABLE [dbo].[SensorVerileri] ADD  CONSTRAINT [DF_Sensor_OlcumZamani]  DEFAULT (getdate()) FOR [OlcumZamani]
GO
ALTER TABLE [dbo].[SistemKayitlari] ADD  CONSTRAINT [DF_SistemKayitlari_IslemZamani]  DEFAULT (getdate()) FOR [IslemZamani]
GO
ALTER TABLE [dbo].[Bildirimler]  WITH CHECK ADD  CONSTRAINT [FK_Bildirimler_Kullanicilar] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Bildirimler] CHECK CONSTRAINT [FK_Bildirimler_Kullanicilar]
GO
ALTER TABLE [dbo].[Bildirimler]  WITH CHECK ADD  CONSTRAINT [FK_Bildirimler_Tespitler] FOREIGN KEY([TespitID])
REFERENCES [dbo].[HastalikTespitleri] ([TespitID])
GO
ALTER TABLE [dbo].[Bildirimler] CHECK CONSTRAINT [FK_Bildirimler_Tespitler]
GO
ALTER TABLE [dbo].[HastalikTespitleri]  WITH CHECK ADD  CONSTRAINT [FK_Tespitler_Bitki] FOREIGN KEY([BitkiID])
REFERENCES [dbo].[Bitki] ([BitkiID])
GO
ALTER TABLE [dbo].[HastalikTespitleri] CHECK CONSTRAINT [FK_Tespitler_Bitki]
GO
ALTER TABLE [dbo].[HastalikTespitleri]  WITH CHECK ADD  CONSTRAINT [FK_Tespitler_HastalikTipleri] FOREIGN KEY([HastalikTipID])
REFERENCES [dbo].[HastalikTipleri] ([HastalikTipID])
GO
ALTER TABLE [dbo].[HastalikTespitleri] CHECK CONSTRAINT [FK_Tespitler_HastalikTipleri]
GO
ALTER TABLE [dbo].[Mudahaleler]  WITH CHECK ADD  CONSTRAINT [FK_Mudahaleler_Bitki] FOREIGN KEY([BitkiID])
REFERENCES [dbo].[Bitki] ([BitkiID])
GO
ALTER TABLE [dbo].[Mudahaleler] CHECK CONSTRAINT [FK_Mudahaleler_Bitki]
GO
ALTER TABLE [dbo].[Mudahaleler]  WITH CHECK ADD  CONSTRAINT [FK_Mudahaleler_Tespitler] FOREIGN KEY([TespitID])
REFERENCES [dbo].[HastalikTespitleri] ([TespitID])
GO
ALTER TABLE [dbo].[Mudahaleler] CHECK CONSTRAINT [FK_Mudahaleler_Tespitler]
GO
ALTER TABLE [dbo].[SensorVerileri]  WITH CHECK ADD  CONSTRAINT [FK_SensorVerileri_Bitki] FOREIGN KEY([BitkiID])
REFERENCES [dbo].[Bitki] ([BitkiID])
GO
ALTER TABLE [dbo].[SensorVerileri] CHECK CONSTRAINT [FK_SensorVerileri_Bitki]
GO
ALTER TABLE [dbo].[SistemKayitlari]  WITH CHECK ADD  CONSTRAINT [FK_SistemKayitlari_Kullanicilar] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[SistemKayitlari] CHECK CONSTRAINT [FK_SistemKayitlari_Kullanicilar]
GO
USE [master]
GO

use FloraGuardDB
ALTER TABLE dbo.SensorVerileri
DROP COLUMN OrtamSicakligi;

ALTER TABLE dbo.SensorVerileri
DROP COLUMN IsikSeviyesi;

SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'SensorVerileri';

SELECT TABLE_SCHEMA, TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
ORDER BY TABLE_NAME;

select * from dbo.SensorVerileri

select * from dbo.Kullanicilar

ALTER TABLE dbo.Bitki
DROP COLUMN SulamaEsikDegeri;

ALTER TABLE dbo.HastalikTipleri
DROP COLUMN Tedavi;

select * from dbo.HastalikTipleri


ALTER TABLE dbo.HastalikTespitleri
DROP COLUMN MudahaleEdildi

ALTER TABLE dbo.Mudahaleler
DROP COLUMN Notlar
EXEC sp_help 'Mudahaleler';
ALTER TABLE Mudahaleler DROP CONSTRAINT DF_Mudahale_OtomatikMi;
ALTER TABLE Mudahaleler DROP COLUMN OtomatikMi;

DROP TABLE SistemKayitlari
 
 select*from HastalikTespitleri
 select * from Mudahaleler
 select*from Kullanicilar

DECLARE @baslangic DATETIME = '2025-05-01 00:00:00';
DECLARE @bitis DATETIME = '2025-05-17 23:59:59';

SELECT 
    sv.OlcumZamani AS Tarih,
    b.Tur + ' - ' + b.Cesit AS BitkiAdi,
    sv.ToprakNemi,
    ht.HastalikAdi,
    t.GuvenOrani,
    CASE 
        WHEN t.MudahaleEdildi = 1 THEN 'Evet'
        WHEN t.MudahaleEdildi = 0 THEN 'Hayır'
        ELSE 'Veri Yok'
    END AS MudahaleDurumu
FROM SensorVerileri sv
INNER JOIN Bitki b ON sv.BitkiID = b.BitkiID
LEFT JOIN (
    SELECT * FROM HastalikTespitleri 
    WHERE TespitZamani BETWEEN @baslangic AND @bitis
) t ON t.BitkiID = sv.BitkiID AND CAST(sv.OlcumZamani AS DATE) = CAST(t.TespitZamani AS DATE)
LEFT JOIN HastalikTipleri ht ON t.HastalikTipID = ht.HastalikTipID
WHERE sv.OlcumZamani BETWEEN @baslangic AND @bitis
ORDER BY sv.OlcumZamani DESC;




DECLARE @baslangic DATETIME = '2025-05-01 00:00:00';
DECLARE @bitis DATETIME = '2025-05-17 23:59:59';

SELECT 
    sv.OlcumZamani AS Tarih,
    b.Tur + ' - ' + b.Cesit AS BitkiAdi,
    sv.ToprakNemi,
    ht.HastalikAdi,
    t.GuvenOrani,
    CASE 
        WHEN t.MudahaleEdildi = 1 THEN 'Evet'
        WHEN t.MudahaleEdildi = 0 THEN 'Hayır'
        ELSE 'Veri Yok'
    END AS MudahaleDurumu
FROM SensorVerileri sv
INNER JOIN Bitki b ON sv.BitkiID = b.BitkiID
LEFT JOIN (
    SELECT * FROM HastalikTespitleri 
    WHERE TespitZamani BETWEEN @baslangic AND @bitis
) t ON t.BitkiID = sv.BitkiID AND CAST(sv.OlcumZamani AS DATE) = CAST(t.TespitZamani AS DATE)
LEFT JOIN HastalikTipleri ht ON t.HastalikTipID = ht.HastalikTipID
WHERE sv.OlcumZamani BETWEEN @baslangic AND @bitis
ORDER BY sv.OlcumZamani DESC;
DECLARE @baslangic DATETIME = '2025-05-01 00:00:00';
DECLARE @bitis DATETIME = '2025-05-17 23:59:59';

SELECT 
    sv.OlcumZamani AS Tarih,
    b.Tur + ' - ' + b.Cesit AS BitkiAdi,
    sv.ToprakNemi,
    ht.HastalikAdi,
    ht.IlacTuru,
    t.GuvenOrani,
    CASE 
        WHEN t.MudahaleEdildi = 1 THEN 'Evet'
        WHEN t.MudahaleEdildi = 0 THEN 'Hayır'
        ELSE 'Yok'
    END AS MudahaleDurumu
FROM SensorVerileri sv
INNER JOIN Bitki b ON sv.BitkiID = b.BitkiID
LEFT JOIN HastalikTespitleri t ON t.BitkiID = sv.BitkiID 
    AND CAST(t.TespitZamani AS DATE) = CAST(sv.OlcumZamani AS DATE)
LEFT JOIN HastalikTipleri ht ON t.HastalikTipID = ht.HastalikTipID
WHERE sv.OlcumZamani BETWEEN @baslangic AND @bitis
ORDER BY sv.OlcumZamani DESC;

DECLARE @baslangic DATETIME = '2025-05-01 00:00:00';
DECLARE @bitis DATETIME = '2025-05-17 23:59:59';
SELECT 
    sv.OlcumZamani AS Tarih,
    b.Tur + ' - ' + b.Cesit AS BitkiAdi,
    sv.ToprakNemi,
    ht.HastalikAdi,
    ht.IlacTuru,
    t.GuvenOrani,
    CASE 
        WHEN t.MudahaleEdildi = 1 THEN 'Evet'
        WHEN t.MudahaleEdildi = 0 THEN 'Hayır'
        ELSE 'Yok'
    END AS MudahaleDurumu
FROM SensorVerileri sv
INNER JOIN Bitki b ON sv.BitkiID = b.BitkiID
LEFT JOIN HastalikTespitleri t ON t.BitkiID = sv.BitkiID 
    AND CAST(t.TespitZamani AS DATE) = CAST(sv.OlcumZamani AS DATE)
LEFT JOIN HastalikTipleri ht ON t.HastalikTipID = ht.HastalikTipID
WHERE sv.OlcumZamani BETWEEN @baslangic AND @bitis
ORDER BY sv.OlcumZamani DESC;


CREATE TABLE Raporlar (
    RaporID INT PRIMARY KEY IDENTITY(1,1),
    Tarih DATETIME,                -- Verinin ölçüm zamanı
    BitkiAdi NVARCHAR(100),
    ToprakNemi FLOAT,
    HastalikAdi NVARCHAR(100),     -- NULL olabilir
    IlacTuru NVARCHAR(100),        -- NULL olabilir
    GuvenOrani FLOAT,              -- NULL olabilir
    MudahaleDurumu NVARCHAR(50),
    RaporOlusturmaZamani DATETIME NOT NULL,
    BaslangicTarihi DATETIME NOT NULL,
    BitisTarihi DATETIME NOT NULL,
    OlusturanKullaniciID INT NOT NULL,
    FOREIGN KEY (OlusturanKullaniciID) REFERENCES Kullanicilar(KullaniciID)
);


select *  from Raporlar

CREATE TABLE Raporlar (
    RaporID INT PRIMARY KEY IDENTITY(1,1),
    RaporOlusturmaZamani DATETIME NOT NULL,
    BaslangicTarihi DATETIME NOT NULL,
    BitisTarihi DATETIME NOT NULL,
    OlusturanKullaniciID INT NOT NULL,
    FOREIGN KEY (OlusturanKullaniciID) REFERENCES Kullanicilar(KullaniciID)
);

CREATE TABLE RaporDetaylari (
    DetayID INT PRIMARY KEY IDENTITY(1,1),
    RaporID INT NOT NULL,
    Tarih DATETIME,
    BitkiAdi NVARCHAR(100),
    ToprakNemi FLOAT,
    HastalikAdi NVARCHAR(100),
    IlacTuru NVARCHAR(100),
    GuvenOrani FLOAT,
    MudahaleDurumu NVARCHAR(50),
    FOREIGN KEY (RaporID) REFERENCES Raporlar(RaporID)
);

Select*from Raporlar
select*from RaporDetaylari

CREATE TABLE tbl_Loglar (
    LogID INT PRIMARY KEY IDENTITY(1,1),
    Tarih DATETIME NOT NULL,
    KullaniciAd NVARCHAR(100),
    Islem NVARCHAR(100),
    Detay NVARCHAR(MAX)
);

CREATE TABLE Loglar (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Message NVARCHAR(MAX),
    MessageTemplate NVARCHAR(MAX),
    Level NVARCHAR(128),
    TimeStamp DATETIME,
    Exception NVARCHAR(MAX),
    Properties NVARCHAR(MAX),
    LogEvent NVARCHAR(MAX)
);
DROP TABLE Bildirimler
 
select* from Loglar
select*from HastalikTespitleri
select*from Kullanicilar
select*from Bitki 
ALTER TABLE Raporlar
DROP CONSTRAINT FK_Raporlar_Kullanicilar; 

ALTER TABLE Raporlar
ADD CONSTRAINT FK_Raporlar_Kullanicilar
FOREIGN KEY (OlusturanKullaniciID)
REFERENCES Kullanicilar(KullaniciID)
ON DELETE CASCADE;

ALTER TABLE RaporDetaylari
DROP CONSTRAINT FK_RaporDetaylari_Raporlar; -- varsa kaldır

ALTER TABLE RaporDetaylari
ADD CONSTRAINT FK_RaporDetaylari_Raporlar
FOREIGN KEY (RaporID)
REFERENCES Raporlar(RaporID)
ON DELETE CASCADE;
ALTER TABLE RaporDetaylari
ADD CONSTRAINT FK_RaporDetaylari_Raporlar
FOREIGN KEY (RaporID)
REFERENCES Raporlar(RaporID)
ON DELETE CASCADE;
use FloraGuardDB
select* from Mudahaleler
select*from HastalikTespitleri
SELECT 
    t.TespitID, t.BitkiID, b.Tur, b.Cesit,
    ht.HastalikAdi, ht.IlacTuru, ht.IlacDozaji,
    t.BildirimGonderildi, t.MudahaleEdildi,
    m.MudahaleZamani
FROM 
    HastalikTespitleri t
INNER JOIN Bitki b ON t.BitkiID = b.BitkiID
INNER JOIN HastalikTipleri ht ON t.HastalikTipID = ht.HastalikTipID
LEFT JOIN Mudahaleler m ON t.TespitID = m.TespitID
ORDER BY t.TespitZamani DESC;

SELECT 
    t.TespitID, 
    t.BitkiID, 
    b.Tur, 
    b.Cesit,
    ht.HastalikAdi, 
    ht.IlacTuru, 
    ht.IlacDozaji,
    t.BildirimGonderildi, 
    t.MudahaleEdildi,
    m.MudahaleZamani
FROM 
    HastalikTespitleri t
LEFT JOIN Bitki b ON t.BitkiID = b.BitkiID
LEFT JOIN HastalikTipleri ht ON t.HastalikTipID = ht.HastalikTipID
LEFT JOIN Mudahaleler m ON t.TespitID = m.TespitID
ORDER BY t.TespitZamani DESC

select * from HastalikTipleri
select*from HastalikTespitleri
Select*from Loglar
